*{
    margin: 0;
    padding: 0;
}

p{
    display: inline;
    padding-left: 100px;
}

header{
    font-size: 3em;
    background-color: orange;
    color: black;
    height: 100px;
   padding-top: 30px;
    }

    #input{
        width: 350px;
        height: 33px;
        font-size: 22px;
            }


#busca{
    text-align: right;
    display: inline;
    padding-left: 22%;
                    
}

#botao{
    width: 100px;
    height: 40px;
    font-size: 22px;
}

.videos2{
    width: 85vw;
    height: 90vh;
    display: grid;
    columns: 1fr;
    border: 2px solid black;
    margin: 3% 7%;
}



.videos{
    width: 99vw;
    height: 360px;
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
       
}

#videopage2 video {
    width: 100%;
    max-height: 100%;
    background-color: black;
}
.item{
        max-width: 100%;
    height: auto;

}
#item1 video{
    max-width: 100%;
    height: auto;
}
#item2 video{
    max-width: 100%;
    height: auto;
    }
 #item3 video{
    max-width: 100%;
    height: auto;
}
#item4 video{
    max-width: 100%;
    height: auto;
}
#item5 video{
    max-width: 100%;
    height: auto;
}
#item6 video{
    max-width: 100%;
    height: auto;
}
#item7 video{
    max-width: 100%;
    height: auto;
}
#item8 video{
    max-width: 100%;
    height: auto;
}
#item9 video{
    max-width: 100%;
    height: auto;
}
#item10 video{
    max-width: 100%;
    height: auto;
}
#item11 video{
    max-width: 100%;
    height: auto;
}
#item12 video{
    max-width: 100%;
    height: auto;
}
#item13 video{
    max-width: 100%;
    height: auto;
}
#item14 video{
    max-width: 100%;
    height: auto;
}
#item15 video{
    max-width: 100%;
    height: auto;
}
#item16 video{
    max-width: 100%;
    height: auto;
}

nav{
    width: 100%;
    position: absolute;
    top: 60px;
    }
    
    .link{
    background-color: #494950;
    padding: 20px;
    font-family: 'Arial';
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    }
    
    .link:hover{
    background-color: #050542;
    }
    
    #check:checked ~ .barra{
    transform: translateX(300px);
    }
    
    
    nav a{
    text-decoration: none;
    }
    
    
    #check{
    display: none;
    }
    
    #icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    padding-top: 0;
    }
    
    .barra{
    background-color: #333;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left:-300px;
    
    }